<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarrakki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!--
    android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
    android:appComponentFactory
    -->
    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:node="merge"
        tools:replace="android:allowBackup,android:name,android:label"
        tools:targetApi="p">

        <activity
            android:name=".module.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- Branch URI Scheme -->
            <intent-filter>

                <data
                    android:host="open"
                    android:scheme="tarrakki" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="applinks.tarrakki.com" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="tarrakki-alternate.app.link" />
            </intent-filter>

        </activity>
        <activity
            android:name=".module.plan.PlanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.invest.InvestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.learn.LearnActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.account.AccountActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.register.SocialSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.otp.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".module.resetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.intro.IntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.ekyc.SignatureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.webviewActivity.WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.webviewActivity.CMSPagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.maintenance.MaintenanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".fcm.MyFirebaseMessagingService$TicketNotification">
            <intent-filter>
                <action android:name="com.tarrakki.ACTION_CLOSE_TICKET" />
                <action android:name="com.tarrakki.ACTION_CANCEL_CLOSE_TICKET" />
            </intent-filter>
        </receiver> <!-- Facebook Details -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_jlRRwizxC34sb8icPRN9NefjwsinBAkS" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_hlxrWC5Zx16DkYmWu4AHiimdqugRYMr" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />     <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <!-- Branch install referrer tracking (optional) -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>