<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarrakki">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:name">
        <activity
            android:name=".module.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.HomeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.plan.PlanActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.invest.InvestActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".module.learn.LearnActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.account.AccountActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".module.otp.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowBGThem"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>